@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Mobile styles are default */
    *{
        text-decoration: none;
        font-family: "sora";
        margin: 0px;
    }

/* Tablet */
@media (min-width: 768px) {}

/* Desktop */
@media (min-width: 1024px) {

    /* navbar */
    nav{
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        padding: 20px 50px 20px 50px;

    }
    .nav-left{
        /* gap: 20px; */
        display: flex;
        align-items: center;
    }
    .nav-right{
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: 30px;
    }
    .nav-left a {
        padding: 7px 14px;
        border-radius: 10px; 
        color: #727272;
    }

    .nav-left a:hover {
        background-color: #F3F3F3;
    }

    .nav-left a.active {
        background-color: #F3F3F3;
        color: #0A0A0A;
    }
    .contact-number{
        color: #1D4ED8;
    }
    .navbar-button{
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        background-color: #1D4ED8;
        color: #FFFFFF;
        font-family: 'sora';
    }
    /* end navbar */
    /* start home page */
        .home{
            background-image:
                linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0.8),
                    rgba(0, 0, 0, 0)
                ),
                url('/images/home-image.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 90vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            gap: 20px;
        }
        .home-text{
            max-width: 700px;
            margin-right: auto;
            padding-left: 60px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .home-text h1{
            font-size: 45px;
            font-weight: 600;
            line-height: 100%;
        }
        .home-text p{
            font-weight: 200;
        }    
        .home-content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-right: auto;
            padding-left: 60px;
        }
        .home-button{
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            background-color: #1D4ED8;
            color: #FFFFFF;
            font-family: 'sora';
            text-align: center;
        }

        /* find right training */
        .find-right-training-text {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
        }
        .find-right-training-text h2{
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 20px;
        }
        .find-right-training-text p{
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 30px;

        }
        .find-right-training{
            background-image: url('/images/find-training.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding-top: 50px;
            color: white;
        }
        .technologies{
            display: flex;
            flex-direction: column;
        }
        .top{
            padding-top: 20px;
            display: flex;
            gap: 20px;
            justify-content: center;
        }


        .top p {
            flex: 1;    
            display: flex;
            align-items: center;  
            justify-content: center;
            margin: 0;            
            min-height: 48px;      
        }
        .bottom{
            padding-top: 20px;
            display: flex;
            gap: 20px;
            justify-content: center;
        }
        .bottom p {
            flex: 1;    
            display: flex;
            align-items: center;  
            justify-content: center;
            margin: 0;            
            min-height: 48px;      
        }
        .technology {
            width: 275px;
            padding: 30px;
            border-radius: 10px;
            background-color: rgb(255 255 255 / 13%);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .technology img {
            height: 60px;        
            object-fit: contain;
        }
        .explore-trainings{
            padding: 80px;
            text-align: center;
        }
        /* end find right training */

    /* end home page */
}

/* Large desktop */
@media (min-width: 1440px) {}